
.column-header-background{
    -fx-background-color: red;

}
.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #2b2b2b;
}

.table-view .column-header{
    -fx-text-fill:red;

}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}